<nav class="nav">
  <h2 class="nav-header search-header">Пошук</h2>
  <input class="nav_input search-input"
         [ngModel]="filterTitle"
         (ngModelChange)="onFilterTitleChange($event)"
  >
  <div class="nav_filters filters-container">
    <h2 class="nav-header search-header">Фільтри</h2>

    <div class="filter nav_filter" (click)="showFilter(0)">
      <h3>Ціна</h3>
      <span class="arrow"></span>
    </div>
    <div class="nav_price price-filter hidden"
         [ngClass]="{visible: visibleArray[0]}">
      <div class="price-wrapper">
        <input class="input-price" type="number"
               [(ngModel)]="minPrice"
               (ngModelChange)="onMinPriceChange($event)"
        >
        -
        <input class="input-price" type="number"
               [(ngModel)]="maxPrice"
               (ngModelChange)="onMaxPriceChange($event)"
        >
      </div>
      <mat-slider max="{{maxInputValue}}" min="{{minInputValue}}" step="1" color="#f45454" discrete>
        <input matSliderStartThumb ngDefaultControl [(ngModel)]="minPrice"
               (ngModelChange)="onMinPriceChange($event)">
        <input matSliderEndThumb [(ngModel)]="maxPrice"
               (ngModelChange)="onMaxPriceChange($event)">
      </mat-slider>
    </div>

  </div>
</nav>
