<section class="clothes-section" [@enterToPage]>
  <div class="clothes-container section_container"
       *ngFor="let product of products
       .slice(firstProductOnPage,lastProductOnPage);
        let i = index"
       (mouseenter)="buyButtons[i] = !buyButtons[i]"
       (mouseleave)="buyButtons[i] = !buyButtons[i]"
       [routerLink]="['/item', product.id]">

    <app-item [myProduct]="product"></app-item>
    <button class="buy-btn section_button"
            [ngClass]="{visible: buyButtons[i]}">Купити
    </button>
  </div>
</section>
<div class="pages-button-container">
  <a class="page-link"
    *ngFor="let button of buttons"
     [ngClass]="{btnActivated: button.isButtonActivated}"
     (click)="changeElements(button.buttonNumber);
      changeButtonActivate(button.buttonNumber)"
  >{{button.buttonNumber + 1}}</a>
</div>
