<section class="clothes-section">
  <h2 class="slider-title">{{sliderTitle | uppercase}}</h2>
  <swiper-container class="clothes-swiper">
    <swiper-slide class="slide" *ngFor="let empty of createRange(slidersAmount) let i = index">
      <div class="clothes-container section_container"
           *ngFor="let product of products.slice(itemsOnSlide*i,itemsOnSlide*(i+1))"
           [routerLink]="['/item', product?.id]">
        <app-item [myProduct]="product"></app-item>
      </div>
    </swiper-slide>
  </swiper-container>
</section>

