<section class="clothes-section">
  <swiper-container class = "clothes-swiper">
    <swiper-slide class = "slide">
      <div class="clothes-container section_container" *ngFor = "let product of products.slice(0,4)">
        <img class="clothes-image" src="{{product.image}}" alt="product">
        <div class="text-container">
          <h4 class="title">{{product.title}}</h4>
          <h4 class="price">{{product.price | currency}}</h4>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class ="slide">
      <div class="clothes-container section_container" *ngFor = "let product of products.slice(4,8)">
        <img class="clothes-image" src="{{product.image}}" alt="product">
        <div class="text-container">
          <h4 class="title">{{product.title}}</h4>
          <h4 class="price">{{product.price | currency}}</h4>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <h2 class="slider-title">РЕЧІ ТИЖНЯ</h2>
</section>

