.clothes-section{
  height: 330px;
  display: flex;
  flex-direction: column;
}
.clothes-swiper{
  z-index: 2;
  position: relative;
  top: -170px;
  min-height: 450px;
  margin: 0 auto;
  max-width: 60%;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(0 0 15px rgba(0,0,0, 0.2));
}
.clothes-container{
  background-color: rgba(249, 249, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 350px;
  transition: all 0.3s ease;
}
.clothes-container:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.slide{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 450px;
}
.slider-title{
  color: #f45454;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 280px;
  transition: all 0.3s ease;
  z-index: 5;
}
.slider-title:hover{
  color: #f45454;
  transform: scale(1.2);
}
