<main class="main">
  <swiper-container [@enterToPage] class="main_slider">

    <swiper-slide *ngFor="let itemSlider of sliderComponents"
                  class='slider-container'>
      <div class="main_slider-wrapper">
        <h1 class="title">{{itemSlider.title | uppercase}}</h1>
        <p class="subtitle">{{itemSlider.firstSubTitle}}</p>
        <p class="subtitle">{{itemSlider.secondSubTitle}}</p>
        <p class="main_btn-container btn-container">
          <a routerLink="/catalog" class="catalog-btn">В каталог</a>
        </p>
      </div>
    </swiper-slide>
  </swiper-container>
</main>



